<% provide(:title, 'Discuss') %>
<h1>My Groups</h1>

<div class="groups">
    <ul>
    	<% @groups.each do |group|%>
    	<li>
    		<%# binding.pry %>
    		<%= link_to group['name'] , group_path(group) %>
    	</li>
    	<% end %>
    </ul>
</div>